@charset "utf-8";

/*スクロールした時にヌルーっと動く*/
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    color: 4F270B;
    background-color: #e9d9c0;
}

/*ヘッダー*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.4%;
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 11;
    
}

.header-nav a {
    color: #ffffff;
    font-family: "Alatsi", sans-serif;
}

.header-nav ul{
    display: flex;
    gap: 48px;
}

.logo{
    width: 434px;
}

.hamburger,
.header-nav-sp{
    display: none;
}

/*各セクション*/
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 144px;
}

section:last-of-type {
    margin-bottom: 0;
}

section#event-section{
    padding: 0 20px;
}

/*各見出し*/
h2 {
    font-family: "Diplomata SC", serif;
    font-size: 40px;
    color: #D20202;
    margin-bottom: 32px;
}

/*キャッチコピー*/
.message-sub {
    font-family: "Alatsi", sans-serif;
    font-size: 26px;
    margin: 132px 0 40px;
    letter-spacing: 0.05em;
}

.message-title {
    font-size: 64px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.message-text {
    font-size: 24px;
    line-height: 1.5;
}

/*アバウト アス*/
#about-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 144px;
    text-align: left;
    flex-direction: row;
    padding: 0 10px;
}

.about-image {
    width: 44%;
}
.about-image img {
    border-bottom-right-radius: 64px;
}

.about-content {
    width: 52%;
    margin-left: 40px;
}

.about-content h2 {
    margin-bottom: 40px;
    text-align: left;
}

.about-subtitle {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.about-text {
    font-size: 14px;
    line-height: 1.8;
}

/*メニュー*/
.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
}

.menu-item {
    text-align: left;
    margin: 0 32px;
}

.menu-thumb {
    position: relative;
    margin-bottom: 23px;
}

.menu-img{
    width: 100%;
    height: auto;
    border-top-right-radius: 60px;
}

.menu-category {
    position: absolute;
    bottom: -14px;
    font-family: "Diplomata SC", serif;
    font-size: 26px;
    color: #D20202;
    position: absolute;
}

.menu-text {
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
}

/*ギャラリー*/
.gallery-list {
    display: flex;
    list-style: none;
    width: 100%;
}


/*イベント*/
.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff;
    padding: 32px;
    margin: 0 auto; 
    border: solid 1px #4F270B;
}

.event-list {
    width: 630px;
    height: 92px;
    border-collapse: collapse;
}

.event-list th {
    width: 136px;
    height: 20px;
    font-size: 20px;
    font-weight: medium;
    text-align: left;
}

.event-list td {
    font-size: 20px;
    text-align: left;
}

/*アクセス*/
#access-section iframe {
    width: 100%;
}

/*フッター*/
footer {
    background-color: #FFFFFF;
    padding: 80px 0 60px;
}

.adress-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.adress-container img{
    width: 380px;
}

.adress-innner th {
    padding: 0 40px 16px 0;
    font-size: 16px;
    font-weight: normal;
}

.adress-innner td {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

/* コピーライト */
.copyright {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
}

/*ページ内スクロール*/
.box {
    width: 140px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*SP版 ブレイクポイント1100px*/
@media screen and (max-width: 1100px){

    .message-title {
        font-size: 48px;
    }

    .message-text {
        font-size: 20px;
    }

    .about-subtitle {
        font-size: 28px;
    }

    .header-nav{
        display: none;
    }

    .hamburger{
        display: block;
        width: 54px;
        height: 54px;
        position: absolute;
        top: -10px;
        right: 20px;
        cursor: pointer;
        z-index: 99999;
    }

    /*ハンバーガー線*/
    .hamburger span{
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #fff;
        top: 50%;
        left: 7px;
        transition: 0.3s;

    }

    .hamburger::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 2px;
        background-color: #fff;
        top: 14px;
        left: 7px;
        transition: 0.3s;
    }

    .hamburger::after{
        position: absolute;
        content: "";
        width: 40px;
        height: 2px;
        background-color: #fff;
        bottom: 14px;
        left: 7px;
        transition: 0.3s;
    }

    /*3本線からバツ印になる*/
    .open span{
        background-color: transparent;
    }

    .open::before{
        transform: rotate(45deg);
        top: 27px;
    }

    .open::after{
        transform: rotate(-45deg);
        top: 27px;
        bottom: auto;
    }

    /*ハンバーガー 黒い画面*/
    .header-nav-sp{
        width: 100%;
        height: 100vh;
        background-color: #000000ad;
        position: absolute;
        top: -30px;
        left: 0;
    }

    /*ハンバーガー ナビゲーション*/
    .header-nav-sp li{
        color: #FFFFFF;
    }

    .header-nav-sp ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
}

/*SP版 ブレイクポイント768px*/
@media screen and (max-width: 768px) {
    section {
        margin-bottom: 80px;
    }

    .logo{
        width: 244px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 32px;
    }

    /* SPキャッチコピー */
    .message-sub {
        margin-bottom: 40px;
        font-size: 16px;
    }
    .message-title {
        margin-bottom: 24px;
        font-size: 31px;
    }
    .message-text {
        max-width: 336px;
        font-size: 16px;
        margin: 0 auto;
        line-height: 2;
    }

    /* SPアバウト アス */
    #about-section {
        display: block;
        text-align: center;
    }
    
    .about-image {
        width: 100%;
        margin-bottom: 40px;
    }
    .about-image img {
        border-bottom-right-radius: 0;
    }
    .about-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .about-subtitle {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 16px;
        text-align: left;
    }    

    .about-text {
        font-size: 14px;
        line-height: 2;
        text-align: justify;
        text-justify: inter-character;
    }

    /* SPメニュー */
    .menu-list {
        display: block;
        padding: 0 20px;
    }
    .menu-item {
        margin: 0 0 40px 0;
        width: 100%;
    }

    /* SPギャラリー */
    #gallery-section {
        max-width: 100%;
        padding: 0;
    }

    /* SPイベント */
    .event-container {
        padding: 0 20px;
    }

    .event-list {
        width: 350px;
        padding: 32px 0px;
    }

    .event-list tbody{
        display: block;        
    }

    .event-list, .event-list tr, .event-list th, .event-list td {
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .event-list th {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .event-list td {
        display: block;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
    /* SPアクセス */
    #access-section {
        max-width: 100%;
        padding: 0;
    }

    #access-section iframe {
        width: 100%;
        height: 240px;
    }

    /* SPフッター */
    footer {
        padding: 80px 20px;
    }

    .adress-container {
        display: block;
        margin: 0 auto 60px;
        text-align: left;
        padding: 0 0px;
    }

    .adress-container img {
        max-width: 326px;
        margin-bottom: 39px;
        display: block;
    }

    .adress-innner {
        width: 100%;
        border-collapse: collapse;
    }

    .adress-innner tr {
        display: block;
        margin-bottom: 24px;
    }

    .adress-innner th {
        display: block;
        padding: 0;
        margin-bottom: 8px;
        font-size: 16px;
        text-align: left;
    }

    .adress-innner td {
        display: block;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
    }


    /* SPページトップボタン */
    .box {
        width: 140px;
        right: 20px;
        bottom: 54px;
        z-index: 10;
    }
}

/*スライダー ドット*/
.slick-dots li button:before {
    font-size: 10px;
}